.card {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: #000;
  width: 282px;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.card__delete-button {
  position: absolute;
  background: url('../images/delete-button.svg') no-repeat center;
  background-color: transparent;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  border: none;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__description {
  display: flex;
  flex-direction: row;
  padding: 25px 20px;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 0;
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background: url('../images/like-button.svg') no-repeat center;
  background-color: transparent;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_type_active {
  background-image: url('../images/filled-like-button.svg');
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}