.footer {
  background-color: #2C2C2C; 
  color: #ADADAD; 
  text-align: center; 
  padding: 2rem 0; 
}

.footer__copyright {
  margin: 0;
  font-size: 1.25rem; 
  line-height: 1.5; 
  font-family: Inter, Arial, Helvetica, sans-serif; 
}

@media screen and (max-width: 800px) {
  .footer__copyright {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin-left: 1.125rem;
    font-size: 1rem;
    padding: 1.5rem 0;
  }
}