.header {
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-top: 45px;
  margin: 0 auto;
}

.header__logo {
  padding: 0 77px 41px 0;
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .header {
    padding: 28px 20px;
  }

  .header__logo {
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}