.modal {
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;

  &.modal_opened {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition-delay: 0s;
  }

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    padding: 0;
    width: 430px;
    z-index: 998;
    background-color: white;
    border-radius: 10px;
  }

  &__image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
  }

  &__image-view {
    max-height: 540px;
    max-width: 816px;
  }

  /* Remove the empty ruleset */
    /* form styles here */
  }
}