.container {
  background-color: #1A1A1A;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}