.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-columns: minmax(0, 373px) auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title button"
    "description description";
  column-gap: 18px;
  row-gap: 10px;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: 1px solid white;
  border-radius: 50%;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 50px;
  width: 150px;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-family: Inter, Arial, Helvetica, serif;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}